<div
  checkbox-directive
  label="Dodatkowe kryteria wyboru samochodów"
  ng-if='auth === "PRAC" || auth === "KLIE"'
  ng-model="ngModel.equipmentPermission"
></div>

<div
  checkbox-directive
  label="Administrator"
  ng-if='auth !== "KLIE"'
  ng-model="ngModel.administrator"
></div>
<div
  checkbox-directive
  label="Zamawia w imieniu innych osób"
  ng-change="checkDifferentClients()"
  ng-if='!(rentTypeOut && auth === "PRAC")'
  ng-model="ngModel.differentOrdering"
></div>

<div
  checkbox-directive
  label='{{(auth === "KLIE" && "Zamawia dla różnych klientów") || (auth === "PRAC" && "Zamawia dla różnych osób")}}'
  ng-if='(!rentTypeOut && auth !== "KLIE") || auth === "KLIE"'
  ng-model="ngModel.differentClients"
></div>

<div
  checkbox-directive
  label="Ogranicz listę płatników"
  ng-if="auth === 'KLIE' && $root.zamGlobals.configuration.limitedPayersEnabled"
  ng-model="ngModel.limitedPayers"
></div>
