<div
  checkbox-directive
  $ctrl.label="Dodatkowe kryteria wyboru samochodów"
  ng-if='$ctrl.auth === "PRAC" || $ctrl.auth === "KLIE"'
  ng-model="$ctrl.ngModel.equipmentPermission"
></div>

<div
  checkbox-directive
  $ctrl.label="Administrator"
  ng-if='$ctrl.auth !== "KLIE"'
  ng-model="$ctrl.ngModel.administrator"
></div>
<div
  checkbox-directive
  $ctrl.label="Zamawia w imieniu innych osób"
  ng-change="$ctrl.checkDifferentClients()"
  ng-if='!($ctrl.rentTypeOut && $ctrl.auth === "PRAC")'
  ng-model="$ctrl.ngModel.differentOrdering"
></div>

<div
  checkbox-directive
  $ctrl.label='{{($ctrl.auth === "KLIE" && "Zamawia dla różnych klientów") || ($ctrl.auth === "PRAC" && "Zamawia dla różnych osób")}}'
  ng-if='(!$ctrl.rentTypeOut && $ctrl.auth !== "KLIE") || $ctrl.auth === "KLIE"'
  ng-model="$ctrl.ngModel.differentClients"
></div>

<div
  checkbox-directive
  $ctrl.label="Ogranicz listę płatników"
  ng-if="$ctrl.auth === 'KLIE' && $root.zamGlobals.configuration.limitedPayersEnabled"
  ng-model="$ctrl.ngModel.limitedPayers"
></div>
