<div class="form-group row mb-2">
  <label     class="col-form-label col-md-4 col-lg-3 {{$ctrl.customLabelStyle}}"
    for="{{ $ctrl.id }}"
    >{{ $ctrl.label }}</label>
  <div class="col-md-6 {{$ctrl.customStyle}}">
    <input       autocomplete="off"
      class="form-control"
      id="{{ $ctrl.id }}"
      ng-blur="$ctrl.clearAutocomplete($event)"
      ng-disabled="$ctrl.ngDisabled"
      ng-if="$ctrl.ngIfInside"
      ng-model="$ctrl.controller.$ctrl.ngModel"
      ng-model-options="$ctrl.modelOptions"
      placeholder="{{ $ctrl.placeholder }}"
      type="text"
      typeahead-input-formatter="$ctrl.resultItemTextDirectiveMethod($model)"
      typeahead-loading="$ctrl.controller.loadingAutoComplete"
      typeahead-min-length="2"
      typeahead-on-select="$ctrl.typeAheadOnSelect($item, $model)"
      typeahead-wait-ms="400"
      uib-typeahead="item as $ctrl.itemTextDirectiveMethod(item) for item in $ctrl.querySearchDirectiveMethod($viewValue)"
    >
    <button       aria-label="Clear"
      class="no-bg clear-button"
      ng-click="$ctrl.clearAutocompleteWithSelected()"
      ng-if="!$ctrl.ngDisabled && $ctrl.controller.$ctrl.ngModel && !$ctrl.hideButton"
      type="button"
    >
      <i aria-hidden="true" class="fa fa-close"></i>
    </button>
    <div ng-transclude></div>
  </div>
</div>
